@model Asp.netCoreMVCIntro.Models.Tutorial
@{
    ViewBag.Title = "Edit Tutorial";
}

<form class="mt-3" method="post" asp-controller="Tutorial" asp-action="EditTutorial">
    <input hidden asp-for="Id" />
    @*Partial data can be handled two ways, you should just be consistent and use the same kind throughout the project*@
    @*Partial tag helper*@
    <partial name="_TutorialFormFields" model="Model" />

    @*Asynchronous HTML helper*@
@*     @await Html.PartialAsync("_TutorialFormFields", Model)
 *@
</form>